{{> messages}}

<form action="/account/login" method="POST" id="reg-form">
    <label for="email">Email</label>
    <input name="email" type="text" id="email" placeholder="Email" />
    <label for="password">Password</label>
    <input name="password" type="password" id="password" placeholder="Password" />
    <button type="submit">Login</button>
</form>