<link rel="stylesheet" href="/css/header.css">
<header id="__header">
    <h3 id="__logo">
        <a href="#">Brand Name</a>
    </h3>
    <nav id="__nav">
        <div id="__ul">
            <a class="__link" href="#">Albums</a>
            <a class="__link" href="#">Albums</a>
            <a class="__link" href="#">Albums</a>
        </div>
    </nav>
    <div class="__dd_container">
        <button class="__dropdown_link">Account</button>
        <div class="__dropdown">
            <a class="__dd_link" href="#">Test</a>
            <a class="__dd_link" href="#">test</a>
        </div>
    </div>
</header>