<link rel="stylesheet" href="/css/header.css">
<header id="__header">
    <h3 id="__logo">
        <a href="#">Brand Name</a>
    </h3>
    <nav id="__nav">
        <div id="__ul">
            <a class="__link" href="#">Albums</a>
            <a class="__link" href="#">Albums</a>
            <a class="__link" href="#">Albums</a>
        </div>
    </nav>
    <div class="__dd_container">
        <button class="__link __dropdown_link">Account</button>
        <div class="__dropdown">
            {{!-- {{#if user}}
            <a href="/account" class="__dd_link">Account</a>
            <a href="account/logout" class="__dd_link">Logout</a>
            {{else}}
            <a href="/account/login" class="__dd_link">Log In</a>
            <a href="/account/register" class="__dd_link">Register</a>
            {{/if}} --}}
        </div>
    </div>
</header>