{{> messages}}

<form action="/albums/newalbum" method="POST" id="prod-form">
    <label for="name">Name</label>
    <input name="name" type="text" id="name" placeholder="Product Name">
    <input type="submit" value="Create New Product">
</form>